:root {
  --iris: #784dbc;
  --pale-orchid: #d7acd3;
  --jade: #0fb26e;
  --robin-egg: #a5dbd4;
  --orange: #f5b106;
  --phosphor: #e2ee9b;
  --amaranth: #d63d4a;
  --pale-chestnut: #ebb7a4;
  --white: #fff;
  --venster-white: #f9f9f7;
  --venster-white-dark: #f4f4f1;
  --venster-grey-light: #ebebe7;
  --venster-grey: #bac5c2;
  --venster-grey-dark: #98a39f;
  --venster-green-light: #39564f;
  --venster-green: #20413a;
  --venster-green-dark: #00271f;

  --base-dark: var(--venster-green);
  --base-light: var(--venster-white);
  --text-dark: var(--venster-green);
  --text-light: var(--venster-grey-light);
  --contrast-light: var(--white);
  --contrast-dark: var(--venster-green-dark);
  --dimmed-light: var(--venster-white-dark);
  --dimmed-dark: var(--venster-green-light);
  --secondary-light: var(--venster-grey-dark);
  --secondary-dark: var(--venster-grey);
  --shadow-light: rgba(0, 0, 0, 0.1);
  --shadow-dark: rgba(0, 0, 0, 0.5);

  --color-text: var(--text-dark);
  --color-back: var(--base-light);
  --color-shadow: var(--shadow-light);
  --dimmed: var(--dimmed-light);
  --contrast: var(--contrast-light);
  --secondary: var(--secondary-light);
}

.dark {
  --color-text: var(--base-light);
  --color-back: var(--base-dark);
  --color-shadow: var(--shadow-dark);
  --dimmed: var(--dimmed-dark);
  --contrast: var(--contrast-dark);
  --secondary: var(--secondary-dark);
}
