:root {
  --vp-font-family-base: var(--font-sans);
  --vp-font-family-mono: var(--font-mono);
  --vp-code-font-size: 1em;

  /* Text */
  --vp-c-text-1: var(--color-text);
  --vp-c-text-2: var(--color-text);

  /* Background */
  --vp-c-bg: var(--color-back);
  --vp-c-bg-alt: var(--dimmed);
  --vp-c-bg-soft: var(--contrast);
  --vp-c-bg-soft-down: var(--color-back);
  --vp-sidebar-bg-color: var(--dimmed);

  /* Brand */
  --vp-c-brand: var(--iris);
  --vp-c-brand-light: var(--pale-orchid);

  /* Button */
  --vp-button-brand-bg: var(--iris);
  --vp-button-brand-border: var(--iris);
  --vp-button-brand-text: var(--contrast);
  --vp-button-brand-hover-bg: var(--color-text);
  --vp-button-brand-hover-border: var(--color-text);
  --vp-button-brand-active-bg: var(--iris);
  --vp-button-brand-active-border: var(--iris);
  --vp-button-alt-border: var(--dat-grey);
  --vp-button-alt-bg: var(--dat-grey);
  --vp-button-alt-text: var(--contrast);
  --vp-button-alt-hover-border: var(--dat-grey-dark);
  --vp-button-alt-hover-bg: var(--dat-grey-dark);
  --vp-button-alt-hover-text: var(--contrast);
  --vp-button-alt-active-border: var(--contrast);
  --vp-button-alt-active-bg: var(--contrast);

  /* Custom containers */
  --vp-custom-block-info-bg: var(--dimmed);
  --vp-custom-block-info-text: var(--dat-green-light);
  --vp-custom-block-tip-bg: var(--dimmed);
  --vp-custom-block-tip-text: var(--iris);
  --vp-custom-block-warning-bg: var(--dimmed);
  --vp-custom-block-warning-text: var(--orange);
  --vp-custom-block-details-bg: var(--dimmed);
  --vp-custom-block-details-text: var(--dat-green-light);
  --vp-custom-block-danger-bg: var(--dimmed);
  --vp-custom-block-dange-text: var(--amaranth);

  /* Code */
  --vp-code-block-bg: var(--text-dark);
  --vp-c-mute: var(--dimmed);
  --vp-c-text-code: var(--iris);
  --vp-code-copy-code-bg: var(--base-dark);
  --vp-code-copy-code-hover-bg: var(--dimmed-dark);
  --vp-custom-block-info-code-bg: var(--contrast);
  --vp-custom-block-tip-code-bg: var(--contrast);
  --vp-custom-block-warning-code-bg: var(--contrast);
  --vp-custom-block-danger-code-bg: var(--contrast);
  --vp-custom-block-details-code-bg: var(--contrast);
  --vp-code-line-highlight-color: var(--dat-green-dark);
}

html {
  font-weight: 500;
  font-size: 1.1em;
}

.custom-block {
  border: none;
}

.custom-block p + p {
  color: var(--dat-green-light);
}
.dark .custom-block p + p {
  color: var(--dat-grey);
}

code,
.vp-doc div[class*='language-'] {
  font-weight: 500;
}

strong code {
  font-weight: 700;
}

.DocSearch {
  --docsearch-key-gradient: var(--contrast);
}

.dark {
  /* Brand */
  --vp-c-brand: var(--pale-orchid);

  /* Button */
  --vp-button-brand-bg: var(--pale-orchid);
  --vp-button-brand-border: var(--pale-orchid);
  --vp-button-brand-hover-text: var(--dat-green);
  --vp-button-alt-border: var(--dat-grey-dark);
  --vp-button-alt-bg: var(--dat-grey-dark);
  --vp-button-alt-hover-border: var(--dat-grey);
  --vp-button-alt-hover-bg: var(--dat-grey);

  /* Custom containers */
  --vp-custom-block-info-bg: var(--contrast);
  --vp-custom-block-info-text: var(--dat-grey-light);
  --vp-custom-block-tip-bg: var(--contrast);
  --vp-custom-block-tip-text: var(--pale-orchid);
  --vp-custom-block-warning-bg: var(--contrast);
  --vp-custom-block-warning-border: var(--iris);
  --vp-custom-block-warning-text: var(--pale-orchid);
  --vp-custom-block-details-text: var(--dat-grey-light);
  --vp-custom-block-danger-bg: var(--contrast);

  /* Code */
  --vp-code-block-bg: var(--contrast-dark);
  --vp-c-text-code: var(--pale-orchid);
  --vp-code-line-highlight-color: rgba(0, 0, 0, 0.4);

  /* Borders */
  --vp-c-divider: rgba(255, 255, 255, 0.2);
}

.vp-doc a {
  text-decoration: underline;
  text-decoration-style: line;
  text-decoration-color: var(--vp-c-divider);
  transition-property: text-decoration-color;
  transition-duration: 0.1s;
}

.vp-doc strong {
  font-weight: 500;
}

.VPButton,
.VPFeature,
.DocSearch-Button {
  border-radius: 3px !important;
}
